<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-Music || Genres</title>
    <link rel="stylesheet" href="../../Css/Pages/Genres.css">
    <link rel="stylesheet" href="../../Css/Body.css">
    <link rel="stylesheet" href="../../Css/Header.css">
    <link rel="stylesheet" href="../../Css/SideBar.css">
    <link rel="stylesheet" href="../../../Public/Font/Font.css">
    <link rel="Icon" href="../../../Public/Imagenes/genres.svg" type="imagen/svg">
</head>
<body>
    <!--Header-->
    <header></header>
    <!--Nav-->
    <nav></nav>
    <!--Main-->
    <main></main>
    <script src="../../Js/Pages/Genres.js"></script>
</body>
</html>