nav{
    border-right: 2px solid #444;
    width: 20%;
    max-height: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
}
nav .Content--Top{
    width: 100%;
    height: 30%;
}
nav .Content--Top ul{
    list-style: none;
    width: 100%;
    padding: 3px;
}
nav .Content--Top ul li{
    border-bottom: 2px solid #aaa;
    margin: 15px;
    border-radius: 10px;
    transition: background-color .1s linear;
}
nav .Content--Top ul li:hover{
    background-color: #222;
}
nav .Content--Top ul li:hover span svg{
    fill: #ddaa00
}
nav .Content--Top ul li span{
    display: flex;
    width: 100%;
    padding-left: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    font-size: 1.2em;
}
nav .Content--Bottom{
    width: 100%;
    height: 60%;
    padding: 0 5px;
}
nav .Content--Bottom .Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
nav .Content--Bottom .Container h3{
    font-size: 1.6em;
    letter-spacing: 2.3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .Content--Bottom .Container .Artist--Top{
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    border-top: 2px solid #444;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
nav .Content--Bottom .Container .Artist--Top::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
nav .Content--Bottom .Container .Artist--Top::-webkit-scrollbar-thumb{
    background-color: #ddd;
}
nav .Content--Bottom .Container .Artist--Top .Artist{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #444;
    width: 100%;
    height: 15%;
    cursor: pointer;
    transition: background-color .1s linear;
}
nav .Content--Bottom .Container .Artist--Top .Artist:hover{
    background-color: #333;
}
nav .Content--Bottom .Container .Artist--Top .Artist img{
    width: 15%;
    border-radius: 25px;
}
nav .Content--Bottom .Container .Artist--Top .Artist div{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
nav .Content--Bottom .Container .Artist--Top .Artist div p{
    font-size: 1.1em;
    letter-spacing: 1px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}
nav .Content--Bottom .Container .Artist--Top .Artist div span{
    font-size: 0.8em;
    letter-spacing: 2px;
    font-weight: 300;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}